<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202979775983-p2slp9u3tefdacnub7lblro7oio3qasm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202979775983-p2slp9u3tefdacnub7lblro7oio3qasm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202979775983-3alt11puphj9gkhs3m1bm36b2otbnseq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ1AAvfqWhb_gSTn22y9r-nBPmD3uZBcM</string>
	<key>GCM_SENDER_ID</key>
	<string>202979775983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dagiabea.com.groupieFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-group</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-group.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202979775983:ios:6819125368fd541459121a</string>
</dict>
</plist>